# Compiled output
/dist
/tmp
/out-tsc

# Dependencies
/node_modules

# Angular build artifacts
/.angular
/angular.json
/.angular/cache
/.angular/universal

# Environment files
/src/environments/environment.*.ts

# System files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
/testem.log
/typings

# Compiled JavaScript and map files
**/*.js
**/*.js.map

# Optional npm cache
.npm

# Mac files
*.swp
*.swo

# GitHub Codespaces
.devcontainer/

# ESLint cache
.eslintcache